*.o
*.la
*.lo
*.so
*.dll
*.cache
*.html
*.wob
*.exe
*.ini
moc_*.cpp

.deps
.dirstamp
.libs

build/
releases/

Makefile
Makefile.in
aclocal.m4
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing

WibblyWobbly.config
WibblyWobbly.creator
WibblyWobbly.creator.user
WibblyWobbly.files
WibblyWobbly.includes

configure~
wibbly.ini
confdefs.h
conftest.dir/
